@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root {
    --overairPink: #EC008C;
    --overairGrey: #8f8e8e;
}
@font-face {
    font-family: 'Roboto', sans-serif;
}
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;;
}
body {
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-text-stroke: 1px transparent;
}
.wrapperOverflow {
    overflow-x: hidden;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
}
.fontWhite {
    color: white;
}
.fontPink {
    color: var(--overairPink);
}
a {
    text-decoration: none !important;
    cursor: pointer !important;
}
/* Nav */
li {
    list-style: none;
}
/* Navbar */
nav {
    z-index: 10;
    display: flex;
    height: 80px;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 25px;
    flex-wrap: wrap;
}
header {
    height: 80px;
}
.outline {
    color: #EC008C !important;
    border: 1px solid;
    border-radius: 50px;
    /*padding: 10px 0;*/
}
.outline:hover {
    background-color: var(--overairPink);
    color: white !important;
}
nav .logoImage {
    height: 75%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
ul li {
    margin: 0.5rem;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    height: 35%;
    color: black !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: "Roboto Condensed", sans-serif;
}
nav ul li a:hover {
    color: var(--overairPink) !important;
}
nav .menu-btn i {
    color: var(--overairPink);
    font-size: 22px;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
}
nav .menu-btn i:hover {
    color: var(--overairPink);
    transition: 0.3s ease;
}
input[type="checkbox"] {
    display: none;
}
@media (max-width: 1100px) {
    nav {
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 960px) {
    html {
        font-size: 12px;
    }
    nav .menu-btn i {
        display: block;
    }
    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }
    nav {
        background: white;
        width: 100%;
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: white;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 10;
    }
    #click:checked ~ ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        color: black;
        transition: 0.6s cubic-bezier(.57, .21, .69, 1.25);
    }
    #click:checked ~ ul li a {
        margin-left: 0;
    }
    nav ul li a.active, nav ul li a:hover {
        background: none;
        color: var(--overairPink) !important;
    }
    nav .logoImage {
        height: 50%;
    }
    .outline {
        border: none !important;
        border-radius: 0 !important;
        padding: 0 0 !important;
    }
    .arrowAppear::after {
        position: relative !important;
        bottom: 13px !important;
        width: 50px !important;
        height: 50px !important;
        margin-left: 8px !important;
    }
    .photo-grid {
        grid-template-rows: repeat(2, 1fr) !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .innerContainer {
        width: 95vw !important;
        margin: 0 auto 0 auto !important;
    }
}
.img1, .img2, .img3, .img4 {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 0;
    padding-bottom: 32%;
}
.classicCenter {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    align-items: center;
}
.imgH1 {
    font-size: 96px;
    font-weight: 700;
}
.bigbigH1 {
    font-size: 105px;
    font-weight: 700;
}
.linkP {
    font-size: 36px;
}
.spacerTop {
    margin-top: 5rem;
}
.txtSep {
    margin-top: 1.5rem;
}
.textContainer {
    margin: 0 auto 0 auto;
    text-align: center;
    width: 980px;
}
.griddd {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    text-align: left !important;
}
.tH1 {
    font-size: 38px;
    font-weight: 800;
}
.footer {
    width: 100vw;
    height: 75px;
    border-top: 1px solid var(--overairGrey);
    margin-left: auto;
    margin-right: auto;
}
.grid {
    display: grid;
    place-items: center;
    text-align: center;
}
.linkUnderlines {
    text-decoration: underline !important;
    color: black !important;;
}
#changeTxt:before {
    content: 'Design & Agencies.';
    /*text-decoration: underline !important;*/
    animation: swap 11s infinite ease;
}
@keyframes swap {
    20% {
        content: 'Programmers.';
    }
    40% {
        content: 'Universities.';
    }
    60% {
        content: 'Schools.';
    }
    80% {
        content: 'Accounting.';
    }
}
@media (max-width: 1280px) {
    .img1, .img2, .img3, .img4 {
        height: 327px !important;
        padding-bottom: 0 !important;
    }
    .textContainer {
        max-width: 83.33333%;
        margin: auto !important;
    }
    .tH1 {
        font-size: 20px !important;
    }
    .bigbigH1 {
        font-size: 35px !important;
        font-weight: 700;
    }
    .imgH1 {
        font-size: 40px !important;
    }
    .linkP {
        font-size: 18px !important;
    }
}
.arrowAppear {
    display: flex;
    align-content: center;
    justify-content: start;
}
.arrowAppear::after {
    position: relative;
    bottom: 2px;
    content: " ";
    display: block;
    width: 0;
    height: 50px;
    overflow: hidden;
    background-image: url("BE/rightArrow.png");

    transition: width 200ms, margin-left 200ms;
}
.arrowAppear:is(:hover,:focus)::after {
    width: 50px;
    margin-left: 8px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.7s cubic-bezier(.57,.21,.69,1.25);
    padding-top: 60px;
    display: grid;
    place-items: center;
}
.sidenav a {
    transition: 0.5s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 20px;
    color: black !important;
}
.container {
    width: 95vw;
    margin: 0 auto 0 auto;
    height: 75%;
}
.innerContainer {
    display: grid;
    place-items: center;
    width: 60vw;
    margin: 0 auto 0 auto;
}
.photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
/* Medium screens */
@media screen and (min-width: 600px) {
    .card-tall {
        grid-row: span 2 / auto;
    }
    .card-wide {
        grid-column: span 2 / auto;
    }
}
.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    box-shadow: rgba(3, 8, 20, 0.1) 0 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0 0.075rem 0.175rem;
    overflow: hidden;
}
.imgSectionL {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 40%;
    height: 275px;
    float: left;
}
.imgSectionR {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 40%;
    height: 275px;
    float: right;
}
.contentSectionR {
    float: right;
    display: inline-block;
    width: 60%;
    padding: 12px 12px;
}
.contentSectionL {
    float: right;
    display: inline-block;
    width: 60%;
    padding: 12px 12px;
}
.normalImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 325px;
}
.normalContent {
    padding: 12px 12px;
}
@media screen and (max-width:960px) {
    .card {
        flex-flow: wrap row;
    }
    .card .imgSectionL {
        order: 1;
        display: block;
        width: 100%;
        height: 200px;
        float: none !important;
        aspect-ratio: 1 / 1;
    }
    .card .contentSectionR {
        order: 2;
        display: block;
        width: 100%;
    }
    .card .imgSectionR {
        order: 1;
        display: block;
        width: 100%;
        height: 200px;
        float: none !important;
        aspect-ratio: 1 / 1;
    }
    .card .contentSectionL {
        order: 2;
        display: block;
        width: 100%;
    }
    .card .normalImage {
        width: 100%;
        display: block;
        order: 1;
        height: 200px;
        aspect-ratio: 1 / 1;
    }
    .card .normalContent {
        width: 100%;
        display: block;
        order: 2;
    }
}
.notVisible {
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(-100%);
}
.visible {
    opacity: 1;
    transform: translateX(0%);
}
.one {
    background-image: url("BE/img1-blurry.jpg");
}
.one.vissy {
    background-image: url("BE/img1.webp");
}
.two {
    background-image: url("BE/img2-blurry.jpg");
}
.two.vissy {
    background-image: url("BE/img3.webp");
}
.three {
    background-image: url("BE/img3-blurry.jpg");
}
.three.vissy {
    background-image: url("BE/img4.webp");
}
.four {
    background-image: url("BE/img4-blurry.jpg");
}
.four.vissy {
    background-image: url("BE/img2.webp");
}
.seperator {
    height: 50px;
    width: 100vw;
    background-color: white;
}