@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

:root {
    --overairPink: #EC008C;
    --overairGrey: #6B6969;
}
@font-face {
    font-family: 'Roboto', sans-serif;
}
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapperOverflow {
    overflow-x: hidden;
}
.fontWhite {
    color: #ffffff;
}
.fontGrey {
    color: var(--overairGrey);
}
.fontBlack {
    color: black;
}
.fontPink {
    color: var(--overairPink);
}
.font2 {
    font-family: 'Roboto Condensed', sans-serif; !important;
}
.testFont {
    font-family: 'Bungee Outline', cursive;
    font-size: 45px;
}
.bigH1 {
    font-size: 75px;
    font-weight: 600;
}
.bigH112 {
    font-size: 65px;
    font-weight: 600;
}
.bigH12 {
    font-size: 60px;
    font-weight: 550;
}
.bigH1Title {
    font-size: 55px;
    font-weight: 600;
}
.bigP {
    font-size: 24px;
    font-weight: 350;
}
.smallP {
    font-size: 20px !important;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100vw;
}
a {
    text-decoration: none !important;
    cursor: pointer !important;
}
/* Nav */
li {
    list-style: none;
}
/* Navbar */
nav {
    z-index: 10;
    display: flex;
    height: 80px;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 25px;
    flex-wrap: wrap;
}
header {
    height: 80px;
}
.outline {
    color: #EC008C !important;
    border: 1px solid;
    border-radius: 50px;
    /*padding: 10px 0;*/
}
nav .logoImage {
    height: 75%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
ul li {
    margin: 0.5rem;
}
nav ul li {
    margin: 0 5px;
}
nav ul li a {
    height: 35%;
    color: black !important;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: "Roboto Condensed", sans-serif;
}
nav ul li a.active {
    color: var(--overairPink);
}
nav ul li a:hover {
    color: var(--overairPink) !important;
}
nav .menu-btn i {
    color: var(--overairPink);
    font-size: 22px;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
}
nav .menu-btn i:hover {
    color: var(--overairPink);
    transition: 0.3s ease;
}
input[type="checkbox"] {
    display: none;
}
@media (max-width: 1100px) {
    nav {
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 960px) {
    html {
        font-size: 12px;
    }
    nav .menu-btn i {
        display: block;
    }
    #click:checked ~ .menu-btn i:before {
        content: "\f00d";
    }
    nav {
        background: white;
        width: 100%;
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: white;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 10;
    }
    #click:checked ~ ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 40px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        color: black;
        transition: 0.6s cubic-bezier(.57,.21,.69,1.25);
    }
    #click:checked ~ ul li a {
        margin-left: 0;
    }
    nav ul li a.active, nav ul li a:hover {
        background: none;
        color: var(--overairPink) !important;
    }
    nav .logoImage {
        height: 50%;
    }
    .bigH1 {
        font-size: 35px !important;
    }
    .bigH12 {
        font-size: 30px !important;
    }
    .outline {
        border: none !important;
        border-radius: 0 !important;
        padding: 0 0 !important;
    }
    .yup {
        font: 600 22px "Roboto Condensed", sans-serif !important;
    }
}
@media (max-width: 1280px) {
    .gridSection {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(4, 1fr) !important;
    }
    .iconSection {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, 1fr) !important;
        place-items: flex-start !important;
    }
    .innerNavContainer {
        width: 85vw !important;
        margin: 1rem auto 0 1rem !important;
        transition: 0.5s !important;
    }
}
@media (max-width: 1178px) {
    .gradientTxt2 {
        font-size: 54px !important;
    }
}
/* Nav */
.section-container2 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}
.section-container2 .columns {
    flex: 0 0 auto;
    width: 50%;
}
.section-container2 .columns.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-container2 .columns.content .content-container {
    padding: 40px 35px;
}
.section-container2 .columns.content .content-container h1 {
    color: black;
    font-size: 48px;
    font-weight: 1000;
}
.section-container2 .columns.content .content-container p {
    font-size: 24px;
    font-weight: 400;
}
@media screen and (max-width:767px) {
    .section-container {
        flex-flow: row wrap;
    }
    .section-container2 .columns.image {
        display: block;
        order: 2;
        width: 100%;
        height: 375px;
    }
    .section-container2 .columns.content {
        display: block;
        order: 1;
        width: 100%;
    }
    .section-container2 .columns.content .content-container {
        padding: 20px 35px;
    }
    .section-container2 .columns.content .content-container h1 {
        margin-bottom: 5px;
        font-size: 40px;
    }
    .section-container2 .columns.content .content-container h2 {
        font-size: 28px;
        font-weight: 800;
    }
    .section-container2 .columns.content .content-container h2 p {
        justify-content: center;
        align-content: center;
    }
}

.section-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem 0 2rem;
}
.section-container .columns {
    flex: 0 0 auto;
    width: 50%;
}
.section-container .columns.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section-container .columns.content .content-container {
    padding: 40px 12px;
}
@media screen and (max-width:767px) {
    .section-container {
        flex-flow: row wrap;
    }
    .section-container .columns.image {
        display: block;
        order: 2;
        width: 100%;
        height: 100%;
    }
    .section-container .columns.content {
        display: block;
        order: 1;
        width: 100%;
    }
    .section-container .columns.content .content-container {
        padding: 20px 1px;
    }
    .section-container .columns.content .content-container h1 {
        margin-bottom: 5px;
    }
    .section-container .columns.content .content-container h2 {
        font-size: 28px;
        font-weight: 800;
    }
    .section-container .columns.content .content-container h2 p {
        justify-content: center;
        align-content: center;
    }
    .section-container {
        margin: 0 1rem 0 1rem !important;
    }
}
.grid {
    display: grid;
    place-items: center;
    text-align: center;
}
.imgContainer {
    position: relative;
    display: inline-block;
    padding: 35px 25px;
    bottom: 45px;
}
.block {
    display: inline-block;
}
.mainImg {
    position: relative;
    padding-block: 18rem;
    margin-block-end: 0;
    background-image: url("Images/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.overDigital {
    position: relative;
    padding-block: 15rem;
    margin-block-end: 0;
    background-image: url("Images/bg 1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.blue {
    width: 100vw;
    height: 200px;
    background-color: blue;
}
a.coolBtn{
    display: inline-block;
    padding: 1em 1.2em;
    border: 1px solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}
a.coolBtn:hover{
    color: #000000;
    background-color: #FFFFFF;
}
a.coolBtnWhite {
    display: inline-block;
    padding: 1em 1.2em;
    border: 1px solid var(--overairGrey);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    text-align: center;
    transition: all 0.2s;
}
a.coolBtnWhite:hover {
    color: white;
    background-color: var(--overairGrey);
}
.bottomLeft {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    padding: 25px 25px;
}
.bottomRight {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    padding: 25px 25px;
}
.yup {
    font: 500 45px "Roboto Condensed", sans-serif;
}
.lottieIcon {
    height: 300px;
    width: max-content;
    margin: 0 auto;
    background: transparent;
}
.exeLink {
    border-bottom: 3px solid #fff3;
    text-decoration: none !important;
    color: white !important;
    transition: 0.5s;
}
.exeLink:hover {
    border-bottom: 3px solid white;
}
.imgPresets {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.smallerLogo {
    height: 25%;
    width: 25%;
}
.seperator {
    height: 50px;
    width: 100vw;
    background-color: white;
}
/* Main Content */
.container {
    width: 95vw;
    margin: 0 auto 0 auto;
    /*border: 1px solid red;*/
}
.gridSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}
.boxCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #353535;
    box-shadow: rgba(3, 8, 20, 0.1) 0 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0 0.075rem 0.175rem;
    height: 225px;
    width: auto;
    border-radius: 15px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    /*background: #f5f5f7 no-repeat center;*/
    background: #fff no-repeat center;
}
.titles {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    padding: 0 12px 0 12px;
}
.boxCardBottomRightTxt {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 11px 10px;
}
.iconPresets {
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}
.iconPresets:hover {
    transform: translateY(-3px);
}
.bracketP {
    display: inline-block;
    font-size: 2em;
    color: var(--overairPink);
}
.circleOutlineIcon {
    display: grid;
    align-items: center;
    background: #dedede;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    z-index: -1;
}
@media (prefers-reduced-motion) {   /* For Users that don't want animations on */
    .hidden {
        transition: none;
    }
}
.hidden {
    opacity: 0;
    transition: all 0.7s;
    transform: translateY(+100%);
}
.showHidden {
    opacity: 1;
    transform: translateY(0);
}
.boxCard:nth-child(2) {
    transition-delay: 200ms;
}
.boxCard:nth-child(3) {
    transition-delay: 300ms;
}
.boxCard:nth-child(4) {
    transition-delay: 400ms;
}
.notVisible {
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(-100%);
}
.visible {
    opacity: 1;
    transform: translateX(0%);
}
/* Main Content */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.7s cubic-bezier(.57,.21,.69,1.25);
    padding-top: 60px;
}
.sidenav a {
    transition: 0.5s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 20px;
    color: black !important;
}
.innerNavContainer {
    width: 50vw;
    margin: 0 auto 0 3rem;
    transition: 0.5s;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
.factChecker {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
    height: 450px;
    padding: 12px 12px;
}
.gradientTxt {
    font-weight: 600;
    font-size: 100px !important;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    background: linear-gradient(135deg, var(--overairPink) 0%, #E899DC 25%, #D387AB 74%, var(--overairPink) 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: backgroundGrad 40s linear infinite;
}
.gradientTxt2 {
    font-weight: 600;
    font-size: 100px;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    background: linear-gradient(135deg, var(--overairPink) 0%, #E899DC 25%, #D387AB 74%, var(--overairPink) 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: backgroundGrad 40s linear infinite;
}
.iconSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 1.5rem;
}
.noBorderCard {
    height: 225px;
    width: auto;
}
.squareOutline {
    display: grid;
    place-items: center;
    height: 60px;
    width: 60px;
    background-color: var(--overairGrey);
    border-radius: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
    z-index: -1;
}